function NumberGenerator.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push constant 256
    pop this 1
    push constant 75
    pop this 2
    push constant 7
    pop this 3
    push pointer 0
    return
function NumberGenerator.next 0
    push argument 0
    pop pointer 0
    push this 2
    push this 0
    call Math.multiply 2
    push this 3
    add
    push this 1
    call Utils.mod 2
    pop this 0
    push this 0
    return
function NumberGenerator.generate 1
    push argument 0
    pop pointer 0
    push argument 2
    push argument 1
    sub
    push constant 1
    add
    pop local 0
    push argument 1
    push pointer 0
    call NumberGenerator.next 1
    push local 0
    call Utils.mod 2
    add
    return